@model ASP_GalleryModule.ViewModels.Gallery.AddGalleryViewModel

<form asp-controller="Gallery" asp-action="AddGallery" method="post">
    <div>
        <label asp-for="GalleryTitle"></label><br />
        <input type="text" asp-for="GalleryTitle" width="300" />
        @Html.ValidationMessageFor(t => t.GalleryTitle)<br />
    </div>
    <div>
        <label asp-for="GalleryDescription"></label><br />
        <textarea asp-for="GalleryDescription" rows="30" cols="100"></textarea>
        @Html.ValidationMessageFor(b => b.GalleryDescription)<br />
    </div>
    <div>
        <input type="submit" value="Опубликовать" />
    </div>
</form>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}