@model ASP_GalleryModule.ViewModels.Gallery.AddImageViewModel

<form asp-antiforgery="true" asp-action="AddImage" asp-controller="Gallery" method="post" enctype="multipart/form-data">
    <input type="hidden" name="GalleryId" value="@ViewBag.GalleryId" />
    <div>
        <font color="red">@Html.ValidationMessageFor(f => f.GalleryImage)</font><br />
        @for (int i = 0; i < 3; i++)
        {
            <input type="file" name="uploads" accept=".jpg,.jpeg,.png,.gif" /><br />
        }
    </div>
    <input type="submit" value="Опубликовать" />
</form>